@charset "utf-8";
@import './reset.css';

.container{
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

body{
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

header{
    position: relative;
    z-index: 10;
}

.hero{
  position: relative;
  background: url('/assets/media/hero.png') center/cover no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
  padding: 10px 60px;
  margin-top: -80px;
  opacity: 0.8;
  z-index: 1;
}

.hero-details {
 position: relative;
  background: url('../media/details-hero.png') center/cover no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
  padding: 10px 60px;
  margin-top: -80px;
  opacity: 0.8;
  z-index: 1; 
}