@charset "utf-8";
@import './reset.css';

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    color: #111;
}
header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 100;
    border-bottom: 1px solid #e4e4e4;
}