@charset "utf-8";
@import './reset.css';

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    color: #111;
}
header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 100;
    border-bottom: 1px solid #e4e4e4;
}
header.container {
    max-width: 100%;
    width: 100%;
    margin-inline: 0;
    padding: 15px 40px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: space-between;
}